.lighten-bg-10 { background: rgba(255,255,255,.1); }
.lighten-bg-20 { background: rgba(255,255,255,.2); }
.lighten-bg-30 { background: rgba(255,255,255,.3); }
.lighten-bg-40 { background: rgba(255,255,255,.4); }
.lighten-bg-50 { background: rgba(255,255,255,.5); }
.lighten-bg-60 { background: rgba(255,255,255,.6); }
.lighten-bg-70 { background: rgba(255,255,255,.7); }
.lighten-bg-80 { background: rgba(255,255,255,.8); }

.darken-bg-10 { background: rgba(0,0,0,0.1); }
.darken-bg-20 { background: rgba(0,0,0,0.2); }
.darken-bg-30 { background: rgba(0,0,0,0.3); }
.darken-bg-40 { background: rgba(0,0,0,0.4); }
.darken-bg-50 { background: rgba(0,0,0,0.5); }
.darken-bg-60 { background: rgba(0,0,0,0.6); }
.darken-bg-70 { background: rgba(0,0,0,0.7); }
.darken-bg-80 { background: rgba(0,0,0,0.8); }

.h-spacer-2  { margin-left: 1px;  margin-right: 1px;}
.h-spacer-4  { margin-left: 2px;  margin-right: 2px;}
.h-spacer-8  { margin-left: 4px;  margin-right: 4px;}
.h-spacer-10 { margin-left: 5px;  margin-right: 5px;}
.h-spacer-16 { margin-left: 8px;  margin-right: 8px;}
.h-spacer-32 { margin-left: 16px; margin-right: 16px;}
.h-spacer-64 { margin-left: 32px; margin-right: 32px;}

.v-spacer-2  { margin-top: 1px;  margin-bottom: 1px;}
.v-spacer-4  { margin-top: 2px;  margin-bottom: 2px;}
.v-spacer-8  { margin-top: 4px;  margin-bottom: 4px;}
.v-spacer-10 { margin-top: 5px;  margin-bottom: 5px;}
.v-spacer-16 { margin-top: 8px;  margin-bottom: 8px;}
.v-spacer-32 { margin-top: 16px; margin-bottom: 16px;}
.v-spacer-64 { margin-top: 32px; margin-bottom: 32px;}

/*
    Page divs
*/
.full-page {
    width: 100%;
    height: auto;
    color: #eeeeee;
    background-color: #121212;
    display: table;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.full-page .section-body, .full-page .container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    vertical-align: middle;
}

.full-page .section-body {
    height: 100%;
    position: relative;
}

.full-page .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    margin: auto;
}

.full-page .row {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*
    Section-level stuff
*/
.intro-text a {
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    opacity: 0.6;
}

.intro-text a:focus,
.intro-text a:hover {
    opacity: 0.85;
}

.section-about {
    background: url(../img/hole.png) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.section-research .container {
    height: 80%;
}

#recent-papers {
    text-align: left;
}

#recent-papers p {
    font-size: 14pt;
    font-weight: 200;
}

#recent-papers p .author { color: #dddddd; font-style: italic; }
#recent-papers p .date { color: #888888; padding-right: 10px; }

#recent-papers p a {
    color: #77BFF2;
}

#recent-papers p a:focus,
#recent-papers p a:hover {
    color: #dddddd;
}

a.topic {
    font-weight: 400;
    font-size: 16pt;
}

.italic { font-style: italic; }
.underline { text-decoration: underline; }

.error {
    text-align: center;
    color: #ca0020;
    font-style: italic;
    font-size: 18pt;
}

.fa-btn {
    cursor: pointer;
    color: #aaaaaa;
    margin: 5 0px;
}

.canvas-container {
    position: relative;
    width: 100%;
}

.canvas-container canvas {
    margin: 10px 0px;
    border: 1px dashed #555;
    border-radius: 10px;
}

.floating-controls {
    position: absolute;
    top: 15px;
    left: 10px;
}

hr {
    border: 1px solid #ccc;
}

a {
    cursor: pointer;
}

/*
    Research
*/
.row p.description {
    text-align: justify;
    text-justify:inter-word;
    padding: 0px;
    margin: 15px 0px;
    font-size: 12pt;
    font-weight: 200;
    color: #dddddd;
}

#research .btn {
    margin-left: 10px;
    margin-right: 10px;
}

#research canvas {
    background: #000;
}

/*
    Photos
*/
#photos {
    padding-top: 50px;
}
#photos .container {
    background: #ff0000;
}